apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana
  labels:
    app.kubernetes.io/managed-by: "Helm"
  annotations:
    meta.helm.sh/release-name: "grafana"
    meta.helm.sh/release-namespace: "default"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: hostpath
